.ImageGallery {
  display: grid;
  width: calc(100vw - 48px);
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  line-height: 0;
}

/* .Watch {
  position: relative;
  margin: 0 auto;
} */

/* .ImageGallery {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin: auto;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform: rotateX(-10deg);
transform: rotateX(-10deg);
} */

/* .Watch {
  position: relative;
  margin: 0 auto;
} */
